[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "aws.comprehend"]
	path = aws.comprehend
	url = https://github.com/cloudyr/aws.comprehend
[submodule "aws.ec2metadata"]
	path = aws.ec2metadata
	url = https://github.com/cloudyr/aws.ec2metadata
[submodule "aws.iam"]
	path = aws.iam
	url = https://github.com/cloudyr/aws.iam
[submodule "aws.kms"]
	path = aws.kms
	url = https://github.com/cloudyr/aws.kms
[submodule "aws.lambda"]
	path = aws.lambda
	url = https://github.com/cloudyr/aws.lambda
[submodule "aws.polly"]
	path = aws.polly
	url = https://github.com/cloudyr/aws.polly
[submodule "aws.s3"]
	path = aws.s3
	url = https://github.com/cloudyr/aws.s3
[submodule "aws.signature"]
	path = aws.signature
	url = https://github.com/cloudyr/aws.signature
[submodule "aws.transcribe"]
	path = aws.transcribe
	url = https://github.com/cloudyr/aws.transcribe
[submodule "aws.translate"]
	path = aws.translate
	url = https://github.com/cloudyr/aws.translate
[submodule "bigQueryR"]
	path = bigQueryR
	url = https://github.com/cloudyr/bigqueryr
[submodule "googleAuthR"]
	path = googleAuthR
	url = https://github.com/MarkEdmondson1234/googleAuthR
	registered = false
[submodule "googleCloudStorageR"]
	path = googleCloudStorageR
	url = https://github.com/cloudyr/googlecloudstorager
[submodule "googleCloudVisionR"]
	path = googleCloudVisionR
	url = https://github.com/cloudyr/googlecloudvisionr
[submodule "googleComputeEngineR"]
	path = googleComputeEngineR
	url = https://github.com/cloudyr/googlecomputeenginer
[submodule "imguR"]
	path = imguR
	url = https://github.com/cloudyr/imgur
